


<div class="selector">
  <ul>
    <li>
      <input id="c1" type="checkbox"/>
      <label for="c1">Option 1</label>
    </li>
    <li>
      <input id="c2" type="checkbox"/>
      <label for="c2">Option 2</label>
    </li>
    <li>
      <input id="c3" type="checkbox"/>
      <label for="c3">Option 3</label>
    </li>
    <li>
    <input id="c4" type="checkbox"/>
      <label for="c4">Option 4</label>
      </li>
    
  </ul>
  <button><p><%= @problem.body %></p>
</button>
</div>



<%=render partial: 'problems/solution', collection: @problem.solutions %>
<%= render partial: 'solutions/form' %>

<%= link_to "delete", problem_path(@problem), method: :delete, data: {confirm: "Really delete the article?"} 
%>
<%= link_to "Back to Home", problems_path %>
<%= link_to "Edit", edit_problem_path(@problem)%>

<div class="yellow" id='yellow'>
	
</div>
